* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: var(--bg-dark);
  color: var(--text-light);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}
section {
  padding: 100px;
}
@media (max-width: 768px) {
  section {
    padding: 60px 15px; /* 🔥 diminui lateral */
  }
}

h2 {
  color: #c6a85b;
  font-size: 34px;
  padding: 10px;
}

/* NAVBAR */
nav {
  align-items: center;
  background: rgba(22, 30, 48, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav h1 {
  color: #ebae16;
}

nav ul {
  display: flex;
  color: #c6a85b;
  gap: 2rem;
  list-style: none;
}

nav a {
  color: var(--text-light);
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #d8ab39;
}

/* BOTÃO HAMBURGUER */
.menu-toggle {
  display: none;
  color: #ebae16;
  cursor: pointer;
  font-size: 28px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  nav ul {
    background: rgba(22, 30, 48, 0.95);
    border-radius: 5px;
    display: none;
    font-size: 14px;
    flex-direction: column;
    gap: 1.5rem;
    margin: 20px;
    padding: 5px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 70px;
    width: 45%;
  }
  nav h1 {
    font-size: 34px;
  }

  nav ul.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

}


/* HERO */
.hero {
  background-image: url("img/tesouras.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  position: relative;
  text-align: center;
}

.hero h1 {
  color: white;
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  color: #c6a85b;
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 600px;
}

/* SOBRE */
.sobre {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.sobre img {
  border-radius: 5px;
  max-width: 300px;
  width: 100%;
}

.sobre-text {
  max-width: 500px;
}


/* GALERIA */
.fade {
  background: rgba(25, 25, 27, 0.8);
  padding: 60px 0;
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

.galeria-grid img {
  aspect-ratio: 1 / 1;
  background-color: #1a1a1a;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.galeria-grid img:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  transform: scale(1.03);
  z-index: 1;
}

/* 📱 MOBILE */
@media (max-width: 480px) {
  .galeria-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 900px) {
  .fade {
    margin-bottom: 60px;
  }
  .galeria-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

/*modal*/
.modal {
  background-color: rgba(0,0,0,0.9);
  display: none;
  height: 100%;
  padding-top: 50px;
  position: fixed;
  left: 0;
  margin-top: 60px;
  top: 0;
  width: 100%;
  z-index: 999;
}

.modal-conteudo {
  animation: zoom 0.3s ease;
  border-radius: 10px;
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 85vh;
}

@keyframes zoom {
  from {transform: scale(0.7);}
  to {transform: scale(1);}
}

.fechar {
  cursor: pointer;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 20px;
  transition: 0.3s;
}

.fechar:hover {
  color: #ccc;
}

/* SERVIÇOS */
.servicos {
  background: #151515;
  padding-bottom: 40px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 🔥 3 colunas */
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.card {
   background: #1e1e1e;
  border: 1px solid #c6a85b;
  border-radius: 10px;
  padding: 25px 15px;
  text-align: center;
  transition: 0.3s;
  width: 100%;
}
.card:hover {
  cursor: pointer;
  filter: brightness(1.2);
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  border-color: #d8ab39;
}
.servicos h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 50px;
}
.card i {
  color: #c6a85b;
  height: 45px;
  margin-bottom: 15px;
  width: 45px;
   /* brilho suave */
  filter: drop-shadow(0 0 5px rgba(198, 168, 91, 0.6));
  transition: all 0.3s ease;
}
.card:hover i {
  color: #ffd700;

  filter: 
    drop-shadow(0 0 8px rgba(255, 215, 0, 0.8))
    drop-shadow(0 0 15px rgba(255, 215, 0, 0.6))
    drop-shadow(0 0 25px rgba(255, 215, 0, 0.4));

  transform: scale(1.2);
}
@keyframes brilho {
  0% {
    filter: drop-shadow(0 0 5px rgba(198, 168, 91, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 12px rgba(255, 215, 0, 0.9));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(198, 168, 91, 0.5));
  }
}

.card i {
  animation: brilho 2.5s infinite ease-in-out;
}

.card strong {
  display: block;
  margin-top: 10px;
  color: #d8ab39;
  font-size: 18px;
}
.servicos h2 {
  text-align: center;
}
.card h3 {
  margin-bottom: 15px;
  padding-top: 5px;
}

.card p {
  margin-bottom: 15px;
}

/* TABLET */
@media (max-width: 900px) {
 .servicos {
    margin-top: 40px;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    max-width: 500px; /* 🔥 reduz largura total */
    margin: 0 auto;   /* 🔥 centraliza */
    gap: 25px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  

  .servicos h2 {
    font-size: 28px;
  }

  .cards {
     grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0 10px;
  }

  .card {
    width: 100%;
  }

  .card h3 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
  }

}

/* ABOUT */
.about-body {
  background-color: rgb(247, 243, 237);
}
.about {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.about img {
  border: 3px solid #2563eb;
  border-radius: 5px;
  box-shadow: 0 0 25px #3b82f6;
  height: 350px;
  margin-right: 50px;
  width: 450px;
  transition:
  transform 0.3s ease,
  filter 0.3s ease;
}

.about img:hover {
  cursor: pointer;
  filter: brightness(1.2);
  transform: scale(1.1);
}

.about p {
  color: var(--text-muted);
  max-width: 500px;
}

/* TABLET */
@media (max-width: 900px) {

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about img {
    height: auto;
    margin-right: 0;
    width: 80%;
  }

  .about p {
    max-width: 600px;
  }

}

/* MOBILE */
@media (max-width: 600px) {

  .about {
    gap: 2rem;
    padding: 0 20px;
  }

  .about img {
    height: auto;
    max-width: 320px;
    width: 100%;
  }

  .about p {
    font-size: 14px;
    line-height: 1.6;
    max-width: 100%;
  }

}

/* CTA FINAL */
.cta {
  background-image: url("https://images.unsplash.com/photo-1503951914875-452162b0f3f1");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}
.cta::after {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.cta-content {
  position: relative;
  z-index: 2;
}
.contato {
  background: rgba(249, 249, 249, 0.4);
  border-radius: 5px;
  padding: 60px 20px;
}

.container-contato {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  margin: auto;
  max-width: 1100px;
}

.info-contato {
  flex: 1;
  min-width: 280px;
}

.info-contato h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.info-contato p {
  margin-bottom: 10px;
  font-size: 16px;
}

.btn-whatsapp {
  background-color: #25d366;
  display: inline-block;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 25px;
  transition:
  transform 0.3s ease,
  filter 0.3s ease;
  text-decoration: none;
}

.btn-whatsapp:hover {
  background-color: #1ebe5d;
  transform: scale(1.1);
}

.mapa {
  border-radius: 5px;
  flex: 1;
  min-width: 280px;
}

/* INSTAGRAM */
.instagram-fade {
  background: rgba(73, 64, 11, 0.8);
  padding: 40px;
}

.insta-card {
  text-align: center;
}

/* Título e Parágrafo */
.insta-card h2 {
  color: #c6a85b;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.insta-card p {
  color: #e6e2e2;
  margin-bottom: 20px;
}

/* Botão com Gradiente Oficial do Instagram */
.insta-btn {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
    );
    border-radius: 8px;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 12px 25px;
    text-decoration: none;
    transition:
    filter 0.3s ease,
    transform 0.3s ease;
}

/* Efeito Hover no Botão */
.insta-btn:hover {
  box-shadow: 0 8px 15px rgba(193, 53, 132, 0.4);
  filter: brightness(1.1);
  transform: scale(1.05);
}

/*Botão flutuante do whatsapp*/
.whatsapp-float {
  align-items: center;
  background-color: #25d366; /* Cor oficial */
  bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: fixed;
  right: 20px;
  width: 40px;
  transition: 0.3s ease;
  z-index: 9999;
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
  transform: scale(1.1);
}

.whatsapp-float svg {
  height: 30px;
  width: 30px;
}

footer {
  background-color: #1e1e1e;
  color: #c6a85b;
  padding: 10px 10%;
  text-align: center;
}

/* RESPONSIVIDADE GLOBAL MOBILE */
@media (max-width: 768px) {

  section {
    padding: 60px 20px;
  }

  h2 {
    font-size: 26px;
    text-align: center;
  }

  /* HERO */
  .hero {
    background-attachment: scroll;
    padding-top: 150px;
  }

  .hero h1 {
    font-size: 32px;
    padding: 0 10px;
  }

  .hero p {
    font-size: 16px;
    margin: auto;
    padding: 0 10px;
  }

  /* SOBRE (primeira seção) */
  .sobre {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .sobre img {
    max-width: 250px;
  }

  .sobre-text {
    max-width: 100%;
  }

 
  /* ABOUT */
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about img {
    height: auto;
    margin-right: 0;
    max-width: 300px;
    width: 100%;
  }

  .about p {
    font-size: 14px;
    line-height: 1.6;
    padding: 0 10px;
  }

  /* CONTATO */
  .container-contato {
    flex-direction: column;
    text-align: center;
  }

  .mapa iframe {
    height: 250px;
  }

  /* INSTAGRAM */
  .instagram-fade {
    padding: 30px 20px;
  }

  /* BOTÃO WHATSAPP */
  .whatsapp-float {
    height: 50px;
    width: 50px;
  }

  .whatsapp-float svg {
    height: 26px;
    width: 26px;
  }

}
